openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://storage.fastbuka.com'
paths:
  '/api/v1/storage/{user_uuid}':
    get:
      summary: 'Get all storage'
      operationId: getAllStorage
      description: ''
      parameters: []
      responses:
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Server Error'
                properties:
                  message:
                    type: string
                    example: 'Server Error'
      tags:
        - 'Storage Endpoints'
      security: []
    post:
      summary: 'Store a new storage'
      operationId: storeANewStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Storage Endpoints'
      security: []
    parameters:
      -
        in: path
        name: user_uuid
        description: ''
        example: d21cf0d5-7d17-306a-a04d-8490e2017aed
        required: true
        schema:
          type: string
  '/api/v1/storage/{storage_uuid}/{user_uuid}':
    delete:
      summary: 'Delete a storage'
      operationId: deleteAStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Storage Endpoints'
      security: []
    parameters:
      -
        in: path
        name: storage_uuid
        description: ''
        example: 60176681-d6e7-3c8e-a984-2923b03b3c20
        required: true
        schema:
          type: integer
      -
        in: path
        name: user_uuid
        description: ''
        example: 96b92f4a-e9f3-330a-9707-074b8229c26d
        required: true
        schema:
          type: string
tags:
  -
    name: 'Storage Endpoints'
    description: "\nEndpoints for managing storage"
