openapi: 3.0.3
info:
  title: Storage
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://storage.fastbuka.com'
paths:
  '/api/v1/storage/{user_uuid}':
    get:
      summary: 'Get all storage'
      operationId: getAllStorage
      description: ''
      parameters: []
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: 404
                  success: false
                  message: 'User not found'
                properties:
                  status:
                    type: integer
                    example: 404
                  success:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'User not found'
      tags:
        - 'Storage Endpoints'
      security: []
    post:
      summary: 'Store a new storage'
      operationId: storeANewStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Storage Endpoints'
      security: []
    parameters:
      -
        in: path
        name: user_uuid
        description: ''
        example: 4676e9a7-7ecd-3adb-8670-a1705d315d5c
        required: true
        schema:
          type: string
  '/api/v1/storage/{storage_uuid}/{user_uuid}':
    delete:
      summary: 'Delete a storage'
      operationId: deleteAStorage
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Storage Endpoints'
      security: []
    parameters:
      -
        in: path
        name: storage_uuid
        description: ''
        example: 12780c55-b4dd-34dc-9ce5-9bb8c469b1c4
        required: true
        schema:
          type: string
      -
        in: path
        name: user_uuid
        description: ''
        example: 1cd895cc-1c4f-4fe4-93c3-26b35df22d80
        required: true
        schema:
          type: string
tags:
  -
    name: 'Storage Endpoints'
    description: "\nEndpoints for managing storage"
